html, body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, a {margin: 0; padding: 0; border: 0}
h1, h2, h3, h4, h5, h6 { font-weight:normal;font-size:100%}

body          {background: bisque}
#main         {background: cornsilk; padding-top: 30;
               height: 50%; padding-bottom: 30;
               border: solid 1px lightgray;}
#header       {padding-top: 1px; height: 80}
#footer       {padding: 1px; width: 400px; margin: auto;
               text-align: center; font: 8pt sans;
               color: lightsteelblue; padding: 10px}
#dialog       {background: #fff; width: 400px;
               margin-left: auto; margin-right: auto;
               border: solid 1px lightgray; font-family: sans}
#question     {font-size: 1.5em; text-align: center;
               background: burlywood; padding: 8px;
               margin-left : 3px; margin-right: 3px; margin-top: 3px}
.choice       {background: linen; margin: 3px;
               list-style: none; padding: 4px}
li.choice:hover {background: mistyrose}
li.choice.active {background: peru}
h1            {font-family: helvetica, verdana, arial;
               font-size: 3em; padding-top: 15px; color: tan}
