<html>
 <head>
  {% block style %}
  {% endblock %}
 </head>
 <body>
  <div id="header">
   <div id="title"><h1>.:Vockie:.</h1></div>
   <div id="menu">
   <a href="{{ loginurl }}">{{ logoption }}</a>
   <a class="settings" href="">Settings</a>
   </div>
  </div>
  <div id='settings'>
    <p>Settings.</p>
  </div>
  <p id="name">Hi {{ name }}!</p>
  <div id="main">
   <div id="dialog">

    {% block question %}
    {% endblock %}

    {% block choices %}
    {% endblock %}

   </div>
  </div>
  <div id="footer">
    <p>This is the footer.</p>
  </div>
  <script src="/scripts/jquery-1.4.2.min.js"></script>
  <script src="/scripts/myscript.js"></script>
 </body>
</html>
