<html>
 <head>
  <link rel="stylesheet" type="text/css" href="./css.css" />
 </head>
 <body>
  <div id="header">
   <h1>.:Vockie:.</h1>
  </div>
  <div id="main">
   <div id="dialog">
    <p id="question">Callipygian</p>
    <ul id="choices">
     <li class="choice" word="foo">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
     <li class="choice" word="bar">Etiam ac tortor nec massa pretium cursus.</li>
     <li class="choice" word="callipygian">Aenean vitae odio lorem, pharetra mollis urna.</li>
     <li class="choice" word="qux">Etiam consequat justo sed purus consequat sed mattis enim ornare.</li>
     <li class="choice" word="mux">Maecenas nec mi et mauris placerat pellentesque quis nec felis.</li>
    </ul>
   </div>
  </div>
  <div id="footer">
    <p>This is the footer.</p>
  </div>
  <script src="./script/jquery-1.4.2.min.js"></script>
  <script src="./script/myscript.js"></script>
 </body>
</html>
