<p id="question" data-answer={{ question.meaning }}>{{ question.word }}</p>
<ol id="choices">
  {% for item in choices %}
    <li data-answer={{ item.word }}>{{ item.meaning }}</li>
  {% endfor %}
</ol>
